<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="NDC.Build.Forms.App.Droid.NDC.Build.Forms.App.Droid" android:versionCode="1" android:versionName="1.0">
  <uses-sdk android:minSdkVersion="16" />
  <application android:label="NDC.Build.Forms.App.Droid"></application>
</manifest>