<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Caliburn.Micro" version="3.0.0-beta1" targetFramework="monoandroid5" />
  <package id="Caliburn.Micro.Core" version="3.0.0-beta1" targetFramework="monoandroid5" />
  <package id="Microsoft.Bcl" version="1.1.10" targetFramework="monoandroid5" />
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="monoandroid5" />
  <package id="Microsoft.Net.Http" version="2.2.29" targetFramework="monoandroid5" />
  <package id="Octokit" version="0.14.0" targetFramework="monoandroid5" />
  <package id="Xamarin.Android.Support.v4" version="22.2.0.0" targetFramework="monoandroid5" />
  <package id="Xamarin.Android.Support.v7.AppCompat" version="22.2.0.0" targetFramework="monoandroid5" />
</packages>